/* WordPress Core
***************************/

.aligncenter,
div.aligncenter {
	display: block;
	margin: calc($gutter / 2) auto calc($gutter / 2) auto;
}

.alignright {
	float: right;
	margin: calc($gutter / 2) 0 calc($gutter) calc($gutter);
}

.alignleft {
	float: left;
	margin: calc($gutter / 2) calc($gutter) calc($gutter) 0;
}

a img.alignright {
	float: right;
	margin: calc($gutter / 2) 0 calc($gutter * 2) calc($gutter * 2);
}

a img.alignnone {
	margin: calc($gutter / 2) calc($gutter * 2) calc($gutter * 2) 0;
}

a img.alignleft {
	float: left;
	margin: calc($gutter / 2) calc($gutter * 2) calc($gutter * 2) 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	margin: 0;
	padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

//Content Block Pagination
.wp-block-query-pagination {
	margin-top: 10px;

	> a {
		color: $black_color;
		font-size: 15px;
	}

	.wp-block-query-pagination-numbers > *:not(.dots) {
		display: inline-flex;
		padding: 3px 8px;
		background-color: $gray10;
		line-height: 1.3;
		min-width: 30px;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		border-radius: 3px;
		color: #111111;
		border: none;
	}

	.wp-block-query-pagination-numbers a:hover {
		background-color: $meta_color;
		color: $white_color;
	}
}

/* Gutenberg Style */

.blocks-gallery-grid, .wp-block-gallery {
	margin-bottom: 25px;
	margin-top: 25px;
}

.gallery-caption {
	display: block;
	font-size: $base_fs - 1;
	margin-top: 5px;
}

.wp-block-latest-comments__comment-date,
.wp-block-image figcaption,
.wp-block-latest-posts__post-author, .wp-block-latest-posts__post-date,
.blocks-gallery-grid .blocks-gallery-image figcaption,
.blocks-gallery-grid .blocks-gallery-item figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
	font-size: $base_fs - 2;
}

.wp-block-image figcaption {
	color: #70778b;
}

.blocks-gallery-grid .blocks-gallery-image,
.blocks-gallery-grid .blocks-gallery-item,
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
	margin: 0 10px 10px 0;
	width: calc(50% - 10px);
	border-radius: 4px;
	overflow: hidden;
}

.blocks-gallery-grid.columns-3 .blocks-gallery-image,
.blocks-gallery-grid.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-image,
.wp-block-gallery.columns-3 .blocks-gallery-item {
	width: calc(33.33333% - 10px);
	margin-right: 10px;
}

.blocks-gallery-grid.columns-4 .blocks-gallery-image,
.blocks-gallery-grid.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-image,
.wp-block-gallery.columns-4 .blocks-gallery-item {
	width: calc(25% - 10px);
	margin-right: 10px;
}

.blocks-gallery-grid.columns-5 .blocks-gallery-image,
.blocks-gallery-grid.columns-5 .blocks-gallery-item,
.wp-block-gallery.columns-5 .blocks-gallery-image,
.wp-block-gallery.columns-5 .blocks-gallery-item {
	width: calc(20% - 5px);
	margin-right: 5px;
}

.blocks-gallery-grid .blocks-gallery-image:last-child,
.blocks-gallery-grid .blocks-gallery-item:last-child,
.wp-block-gallery .blocks-gallery-image:last-child,
.wp-block-gallery .blocks-gallery-item:last-child {
	margin-right: 0 !important;
}

.columns-5 .blocks-gallery-image figcaption,
.columns-5 .blocks-gallery-item figcaption,
.columns-6 .blocks-gallery-image figcaption,
.columns-6 .blocks-gallery-item figcaption,
.columns-7 .blocks-gallery-image figcaption,
.columns-7 .blocks-gallery-item figcaption,
.columns-8 .blocks-gallery-image figcaption,
.columns-8 .blocks-gallery-item figcaption {
	font-size: 14px;
}


.single-blog .single-blog-content .post-details .wp-block-rss,
.single-blog .single-blog-content .post-details .wp-block-latest-posts {
	list-style: none;
	padding: 0;
}

.single-blog .single-blog-content .post-details > *:last-child {
	margin-bottom: 0;
}

.single-blog .single-blog-content .post-details .wp-block-calendar .wp-calendar-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wp-block-calendar {
	margin-bottom: 15px;
}

.single-blog .single-blog-content .post-details .wp-block-latest-comments,
.single-blog .single-blog-content .post-details .wp-block-archives {
	padding-left: 0;
}

form.post-password-form label > input {
	background: $white_color;
	border: 1px solid $border_color;
	border-radius: 6px;
	padding: 10px 8px;
	height: 50px;
}

form.post-password-form input[type="submit"] {
	background: $primary_color;
	border-radius: 6px;
	color: $white_color;
	font-weight: 500;
	outline: none;
	height: 50px;
	transition: all ease 0.31s;
}

.comment-list .pingback-entry {
	margin-bottom: 30px;
}

.wp-block-search {
	.wp-block-search__label {
		display: none;
	}

	.wp-block-search__button {
		border: none;
		background-color: $primary_color;
		height: 50px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		padding: 6px 20px;
		font-size: 16px;
		font-weight: 500;
		color: $white_color;
		transition: 0.4s;
		// margin: 8px 8px 0 0;

		&:hover {
			background-color: $title_color;
		}
	}

	.wp-block-search__input {
		border-radius: 6px !important;
		height: 50px;
		padding-left: 25px;
		padding-right: 25px;
		border: 0;
		background-color: #f9f9f9;
		font-size: 16px;
	}

	.wp-block-search__input::placeholder {
		color: $primary_color;
	}

	.wp-block-search__input:focus-visible {
		outline: none;
		border-color: #565656;
		box-shadow: none;
	}
}

// block cover
.wp-block-cover {
	margin-bottom: 15px;
	padding: 30px;
	border-radius: 6px;
	overflow: hidden;

	.wp-block-cover__background {
		border-radius: 12px;
	}

	&.is-repeated {
		border-radius: 12px;
	}

	a {
		color: $white_color;
	}
}

.has-large-font-size,
.has-x-large-font-size {
	line-height: 1.24;
}

figcaption,
figure.wp-block-image figcaption {
	border-radius: 15px;
}

:where(.wp-block-cover-image.is-light:not(.has-text-color)),
:where(.wp-block-cover.is-light:not(.has-text-color)) {
	color: $white_color;
}

// block text
.wp-block-media-text {
	margin-bottom: 15px;

	figure {
		border-radius: 15px;
		overflow: hidden;
	}
}

// block button
.wp-block-button {
	margin-bottom: 12px;

	.wp-block-button__link {
		
		display: inline-grid;
		font-size: 16px;
		font-weight: 600;
		line-height: 26px;
		border-radius: 500px;
		cursor: pointer;
		color: #fff;
		padding: 14px 30px;
		text-transform: capitalize;
		text-decoration: none;
		text-shadow: none;
		-webkit-appearance: none;
		border: none;
		background-color: $primary_color;
		transition: all ease 0.3s;
		position: relative;

		&:hover {
			color: $white_color;
			background-color: $title_color;
		}
	}
}

.wp-block-button.is-style-outline .wp-block-button__link {
	color: $primary_color;
	background-color: transparent;
	border: 2px solid $primary_color;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
	color: $title_color;
}

.wp-block-button.is-style-outline .wp-block-button__link:before {
	display: none;
}

.wp-block-button.is-style-squared .wp-block-button__link,
.wp-block-button.is-style-squared .wp-block-button__link:before {
	border-radius: 0;
}

.wp-block-button.is-style-squared .wp-block-button__link,
.wp-block-button.is-style-squared .wp-block-button__link:after {
	border-radius: 0;
}

.wp-block-button .wp-block-button__link.no-border-radius,
.wp-block-button .wp-block-button__link.no-border-radius:before {
	border-radius: 0;
}

.wp-block-button .has-techly-primary-background-color:before {
	background-color: $primary_color;
}


.wp-block-button .has-techly-dark-gray-background-color:before {
	background-color: #F3F7FF;
}

.wp-block-button .has-techly-light-gray-background-color:before {
	background-color: #f1f1f1;
}

.wp-block-button .has-techly-white-background-color:before {
	background-color: #ffffff;
}

// block pull quote
.wp-block-post {
	margin-bottom: 24px;
}

.wp-block-quote.is-large:where(:not(.is-style-plain)),
.wp-block-quote.is-style-large:where(:not(.is-style-plain)) {
	padding: 20px 30px 20px 30px;
}
.wp-block-quote.is-large:where(:not(.is-style-plain)) cite,.wp-block-quote.is-large:where(:not(.is-style-plain)) footer,
.wp-block-quote.is-style-large:where(:not(.is-style-plain)) cite,
.wp-block-quote.is-style-large:where(:not(.is-style-plain)) footer {
    font-size: 18px;
    text-align: center;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-quote.is-style-plain {
	border-left: 3px solid;
	border-color: $primary_color;
}
.wp-block-quote.is-style-large {
	text-align: center;
}

.wp-block-pullquote {
	font-size: 1.5em;
	line-height: 1.6;
	border: none;
	border-bottom: 4px solid;
	border-top: 4px solid;
	color: currentColor;
	margin-bottom: 1.75em;
	margin-top: 1.50em;
}

.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote__citation {
	font-size: 17px;
	font-weight: 700;
	font-style: normal;
	text-transform: capitalize;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
	font-size: 32px;
}

.has-techly-primary-background-color {
	background-color: $primary_color !important;
}

.has-techly-secondary-background-color {
	background-color: $secondary_color !important;
}

.has-techly-yellow-background-color {
	background-color: $tertiary_color !important;
}

.has-techly-dark-gray-background-color {
	background-color: $gray20 !important;
}

.has-techly-light-gray-background-color {
	background-color: $gray10 !important;
}

.has-techly-white-background-color {
	background-color: $white_color !important;
}

.has-techly-primary-color {
	color: $primary_color !important;
}

.has-techly-secondary-color {
	color: $secondary_color !important;
}

.has-techly-yellow-color {
	color: $tertiary_color !important;
}

.has-techly-dark-gray-color {
	color: $gray20 !important;
}

.has-techly-light-gray-color {
	color: $gray10 !important;
}

.has-techly-white-color {
	color: $white_color !important;
}

// block gallery
.wp-block-gallery.alignleft.extraclass {
	margin-right: 30px;
}

.wp-block-gallery-1.wp-block-gallery.columns-3 {
	margin-bottom: 15px;
}
