// team archive
.rt-team-default {
	> .row {
		justify-content: center;
	}

	.team-item {
		position: relative;
		text-align: center;
		@include transition_default;

		ul {
			@include list_default();
		}

		.team-title {
			font-size: 20px;
			margin-bottom: 0;
			line-height: 28px;
			font-weight: 600;

			a {
				color: $title_color;

				&:hover {
					color: $primary_color;
				}
			}
		}

		.team-designation {
			color: $body_color;
		}

		p {
			margin-top: 8px;
		}

		&:hover {
			.team-thumbs {
				img {
					transform: scale(1);
				}
			}
		}
	}

	.team-thumbs {
		position: relative;
		img {
			transition: transform .25s cubic-bezier(.25, .46, .45, .94);
			transform: scale(1.05);
		}
	}

	.team-social {
		position: absolute;
		top: 0;
		right: 20px;
		z-index: 1;
		&:hover {
			li {
				.rt-team-social-dropdown {
					visibility: visible;
					opacity: 1;
					max-height: 120px;
					.social-item {
						transform: translateY(0);
						opacity: 1;
						backface-visibility: visible;

						&:nth-child(1) {
							transition-delay: 0.1s;
						}

						&:nth-child(2) {
							transition-delay: 0.2s;
						}

						&:nth-child(3) {
							transition-delay: 0.3s;
						}

						&:nth-child(4) {
							transition-delay: 0.4s;
						}

						&:nth-child(5) {
							transition-delay: 0.5s;
						}

						&:nth-child(6) {
							transition-delay: 0.6s;
						}
					}
				}
			}
		}

		li {
			position: relative;
			@include transition_default;
			line-height: 1;

			.social-link {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: 45px;
				width: 45px;
				border: 2px solid $white_color;
				border-radius: 100%;
				transition: all 0.21s ease-in-out;
				background-color: $primary_color;
				color: $white_color;

				i {
					display: block;
					transition: all 0.21s ease-in-out;
				}
			}



			.rt-team-social-dropdown {

				top: 0;
				visibility: hidden;
				opacity: 0;
				position: absolute;
				border-radius: 50px;
				overflow: hidden;
				width: 100%;
				max-height: 0;
				transition: all 0.7s;
				border: 2px solid $white_color;
				background-color: $primary_color;
				padding: 10px 0;
				z-index: 1;

				.social-item {
					opacity: 0;
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
					transform: translateY(10px);
					transition: all 0.3s ease-in-out;

					.social-link {
						margin-bottom: 10px;
						display: block;
						height: auto;
						width: auto;
						border: 0;
						border-radius: 0;
						transition: all 0.4s ease-in-out;
						background-color: transparent;
						color: $white_color;
						font-size: 16px;
					}
				}
			}
		}
	}
}


.rt-team-multi-layout-1 {
	.team-item {
		.team-thumbs {
			text-align: center;
		}
		.post-thumbnail {
			z-index: 1;
			position: relative;
			border-radius: 10px 10px 0 0;
			background-color: #F0EEFF;
			transition: all .4s ease;

		}

		.team-content {
			background-color: $body_bg_color;
			padding: 20px;
			position: relative;
			border-radius: 0 0 10px 10px;
			border: 1px solid #E7E7E7;
		}
		&:hover {
			.post-thumbnail {
				background-color: $primary_color;
			}
		}
		.team-social {
			top: 20px;
		}
	}
	// .even {
	// 	@media(min-width: 1200px) {
	// 		margin-top: 50px;
	// 	}
	// }
	.odd {
		@media(min-width: 1200px) {
			margin-top: -50px;
		}
	}
}

.team-grid-layout-1 {
	.team-item {
		@media(min-width: 1200px) {
			height: 414px;
		}
		.team-social {
			top: -20px;
		}
	}
}

.rt-team-multi-layout-2 {
	.team-item {
		position: relative;
		z-index: 1;
		.team-thumbs {
			text-align: center;
		}

		.post-thumbnail {
			text-align: center;
			overflow: hidden;
			border-radius: 20px;
			background-color: #1C5CF3;
		}

		.team-content {
			position: absolute;
			bottom: 30px;
			left: 30px;
		}
		.team-title {
			a {
				color: $white_color;
			}
		}
		.team-designation {
			color: #D9D9D9;
		}

		p {
			color: #D9D9D9;
		}

		&:hover {
			.post-thumbnail {
				img {
					filter: grayscale(0);
				}
			}
		}
		.team-social {
			top: 20px;
		}
	}
}

.rt-team-slider-shadow {
	position: relative;
	overflow: hidden;
	&::after {
		content: "";
		height: 37%;
		width: 100%;
		background-image: url(../images/team-shape.png);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background-size: contain;
		background-position: center bottom;
		@media(min-width: 1200px) {
			height: 38%;
		}
	}
}

.rt-margin-left {
	@media(min-width: 1200px) {
		margin-left: calc((100% - 1296px) / 2);	
	}
}

.team-grid-layout-5 {
	.team-item {
		@media(min-width: 1200px) {
			height: 100%;
		}
	}
}



.rt-team-slider-layout {
	.cursor {
		&__inner {
		border: 1px solid $title_color;
		background-color: $title_color;
		}
	}
	.team-item {
		position: relative;
		&:hover {
			.post-thumbnail {
				background-color: #1C5CF3;
			}
		}
		.post-thumbnail {
			background-color: #1C5CF3;
			padding: 40px 0 0 0;
		}
		.team-content {
			background-color: transparent;
			border: 0;
			border-radius: 0;
			position: absolute;
			bottom: 50px;
			left: 40px;
			padding: 0;
			z-index: 2;
		}
		.team-social {
			top: 20px;
		}
	}
}


// team single
.team-single-item {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.team-single-wrap {
		.order-2 {
			order: 2;

			// .team-single-content-wrap {
			// 	@media(min-width: 992px) {
			// 		padding-left: 30px;
			// 	}
			// 	@media(max-width: 991px) {
			// 		padding-top: 40px;
			// 	}
			// }
		}

		.order-1 {
			.team-single-content-wrap {
				@media(min-width: 992px) {
					padding-right: 30px;
				}
				@media(max-width: 991px) {
					padding-bottom: 50px;
				}
			}
		}
	}

	.team-single-image {
		background-color: $primary_color;
		border-radius: 10px;
		overflow: hidden;
		@media(min-width: 1200px) {
			height: 608px;
			width: 637px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}

		img {
			width: 100%;
		}
	}

	//.team-thumb-square {
	//	img {
	//		border-radius: 12px;
	//	}
	//}

	.team-thumb-round {
		border-radius: 12px;
		padding: 24px 30px 30px;
		border: 1px solid $border_color;
		background-color: $meta_color;
		text-align: center;

		img {
			background-color: $gray10;
			border-radius: 1000px;
		}
	}

	.entry-title {
		font-size: 36px;
		line-height: 1.2;
		margin-bottom: 5px;
	}

	.designation {
		display: block;
		font-size: 20px;
		margin-bottom: 8px;
	}

	.team-single-content-wrap {
		h3 {
			position: relative;
			font-size: 24px;
			margin-bottom: 18px;
			line-height: 1.4;
		}
		.wp-block-separator {
			border-bottom: 1px solid #E1E1E2;
		}

		.team-info {
			margin-top: 12px;
			border-bottom: 1px solid #E1E1E2;
			ul {
				li {
					display: block;
					margin-right: 0;
					margin-bottom: 10px;
					padding-bottom: 10px;
					color: $body_color;
					width: 100%;

					&:last-child {
						border-bottom: 0;
						padding-bottom: 0;
						margin-bottom: 0;
					}

					a {
						color: $title_color;
						font-size: 18px;
						font-weight: 600;

						&:hover {
							color: $primary_color;
						}
					}


					@media (max-width: 575px) {
						float: unset;
						width: 100%;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}

				.team-label {
					color: $title_color;
					font-size: 16px;
					width: 150px;
					display: inline-block;
				}
			}
		}
	}

	.team-social-social {
		display: flex;
		gap: 10px;
		margin-top: 40px;
		margin-bottom: 40px;
		li {
			border-bottom: 0 !important;
			width: auto !important;
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
			a {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				font-size: 16px;
				background-color: transparent;
				color: $title_color;
				height: 45px;
				width: 45px;
				border-radius: 100%;
				border: 1px solid #DCDCDC;
				transition: all .3s ease-in-out;
				i {
					display: block;
					transition: all 0.41s ease-in-out;
				}

				&:hover {
					background-color: $primary_color;
					border-color: $primary_color;
					i {
						transform: rotateY(380deg);
						color: $white_color;
					}
				}
			}
		}
	}

	.rt-skill-wrap {
		margin-top: 35px;
		border-bottom: 1px solid #E1E1E2;
		padding-bottom: 40px;
		.rt-skill-each {
			margin-top: 20px;
		}

		.rt-name {
			color: $title_color;
			margin-bottom: 10px;
			font-size: 20px;
			font-weight: 500;
			font-family: $heading_font;
		}

		.progress {
			position: relative;
			background-color: #E5E5E5;
			border-radius: 30px;
			height: 20px;
			padding: 3px;
		}

		.progress-bar {
			position: relative;
			height: 14px;
			width: 0;
			background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
			background-size: 1rem 1rem;
			border-radius: 30px;
			transition: 2s linear;

			span {
				font-size: 16px;
				font-weight: 500;
				color: $title_color;
				position: absolute;
				right: 0;
				top: -28px;
				padding-bottom: 10px;
				line-height: 1;
			}

			&:before {
				content: attr(data-per);
				position: absolute;
				font-size: 16px;
				text-transform: capitalize;
				color: $title_color;
				bottom: 20px;
				right: 0;
			}
		}

		.bg-success {
			background-color: #0F53F3 !important;
		}
	}
}

// team contact form
.team-contact-form {
	margin-top: 40px;
	
	.frm-fluent-form {
		.ff-el-input--label {
			display: none;
		}

		.ff-el-form-control {
			border: 1px solid #E1E1E2;
			font-size: 15px;
			height: 60px;

			&:focus {
				border: 1px solid $primary_color;
				outline: none;
				box-shadow: unset;
			}
			&::placeholder {
				color: #B6B8BC;
			}
		}

		.ff-btn-submit {
			background-color: $primary_color !important;
			color: $button_color;
			border-radius: 50px;
			font-size: 16px;
			font-weight: 700;
			padding: 18px 38px;
			letter-spacing: 0.5px;

			&:hover {
				background-color: $title_color !important;
				color: $white_color;
			}
		}
	}
}

// Related team
.rt-related-team {
	margin-top: 60px;

	.related-title {
		font-size: 30px;
		margin-bottom: 26px;
	}
}

