/*===============================
Fluent form style
================================*/

.hero-subscribe {
	@media (min-width: 768px) {
		.frm-fluent-form .ff-t-container {
			gap: 8px;
		}
	}
}

@media (min-width: 768px) {
	.frm-fluent-form .ff-t-container {
		align-items: self-start;
	}
}

//.ff_submit_btn_wrapper {
//	margin-bottom: 0;
//	.ff-btn-submit {
//		transition: all .3s ease-in-out;
//		&:hover {
//			opacity: 1;
//			transition: all .3s ease-in-out;
//		}
//	}
//}

.ff_submit_btn_wrapper {
	.ff_btn_style {
		transition: all .3s ease-in-out;
	}
}



.rt-footer-form-1 {
	.frm-fluent-form {
		@media (min-width: 768px) {
			background-color: transparent;
			border: 1px solid #DCDCDC;
			border-radius: 50px;
			padding: 5px;
		}
		.ff-el-group {
			margin-bottom: 0 !important;
		}

		.ff-el-form-control {
			background-color: transparent;
			@media (max-width: 767px) {
				border: 1px solid #DCDCDC !important;
				background-color: transparent;
				border-radius: 50px !important;
				height: 50px;
				margin-bottom: 10px;
			}
		}

		.ff_submit_btn_wrapper {
			.ff-btn-submit {
				margin-bottom: 0;
				height: 50px;
				width: 70px;
				@media (max-width: 767px) {
					min-width: auto;
				}
			}
		}
	}
	.ff-default .ff-el-form-control:focus {
		background-color: transparent;
		border-color: transparent;
		color: transparent;
		outline: none;
	}
}


.rt-footer-form-2 {
	.frm-fluent-form {
		@media (min-width: 768px) {
			border: 1px solid #B6B8BC;
			padding: 10px;
		}
		.ff_submit_btn_wrapper {
			.ff-btn-submit {
				height: 60px;
				width: auto;

				i {
					margin-right: 6px;
					display: inline-block;
				}
			}
		}
	}
}

.rt-footer-form-3 {
	.frm-fluent-form {
		border: 0;
		padding: 0;
		background-color: transparent;

		.ff-column-container {
			@media (min-width: 768px) {
				border: 1px solid $white_color;
				padding: 5px;
				background-color: $white_color;
				border-radius: 50px;
				margin-bottom: 10px;
			}
		}
		.ff-t-cell.ff-t-column-1 {
			position: relative;
			&::before {
				content: "\e84d";
				font-family: "rt-fonttello";
				font-weight: 500;
				display: none;
				position: absolute;
				left: 20px;
				top: 10px;
				color: #B6B8BC;
				@media (min-width: 1024px) {
					display: inline-block;
				}
			}
		}
		.ff-el-form-control {
			@media (min-width: 1024px) {
				padding: 11px 15px 11px 40px;
			}
		}

		.ff_submit_btn_wrapper {
			.ff-btn-submit {
				height: 50px;
				width: auto;
			}
		}
	}
}

@media (min-width: 768px) {
	.rt-footer-form-1 .frm-fluent-form .ff-t-container {
		align-items: center;
	}
}

.rt-footer-form-2 {
	.frm-fluent-form {
		@media (min-width: 768px) {
			background-color: #fff;
			border-radius: 60px;
			padding: 5px;
		}

		.ff-el-group {
			margin-bottom: 0 !important;
		}

		.ff-el-form-control {
			border: 0;
			background-color: initial;
			padding: 10px;
			@media (max-width: 767px) {
				background-color: #fff;
				border-radius: 60px;
				height: 55px;
			}
		}

		.ff_submit_btn_wrapper {
			.ff-btn-submit {
				margin-bottom: 0;
			}
		}
	}
}

.frm-fluent-form select {
	background-color: $white_color;
	border-radius: 10px;
	padding: 16px 13px;
	width: 100%;
	outline: none;
	appearance: none;
	background-size: 12px;
	background-image: url(../images/select.svg) !important;
	background-repeat: no-repeat;
	background-position: 90%;
	transition: all ease 0.31s;
}

.frm-fluent-form select:focus {
	outline: 0;
	box-shadow: none;
	border: 0;
}


.ff-default .ff_btn_style:focus, .ff-default .ff_btn_style:hover {
	opacity: 1 !important;
	transition: all .3s ease-in-out;
}

.rt-contact-form {
	.frm-fluent-form {
		.ff-el-group {
			margin-bottom: 15px;
		}

		.ff_submit_btn_wrapper {
			margin-bottom: 0;
		}
	}
}
