// Hero Slider
.rt-swiper-hero-slider {
	overflow: hidden;
}

.rt-hero-slider {
	.content-wrap {
		position: relative;
		display: flex;
		justify-content: flex-end;
	}

	.slider-content {
		position: relative;
		background-color: $white_color;
		padding: 40px;
		border-radius: 20px;
		@media(min-width: 768px) {
			max-width: 570px;
			z-index: 9;
			background-image: url(../images/banner-content-bg.svg);
			background-repeat: no-repeat;
			padding: 60px 80px 90px;
			background-color: transparent;
			border-radius: unset;
		}
	}

	.single-slider {
		background-size: cover;
		background-position: top center;
		min-height: 775px;
		display: flex;
		align-items: center;
	}

	.sub-title {
		position: relative;
		display: inline-block;
		color: $secondary_color;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 7px;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		line-height: 1.4;
		z-index: 1;
	}

	.slider-title {
		font-size: 60px;
		color: $white_color;
		margin-bottom: 20px;
		line-height: 1.1;
	}

	.slider-text {
		color: $white_color;
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: 30px;
	}

	.animation {
		.single-slide {
			.sub-title {
				transform: translateY(70px);
				transition: all ease 1.2s;
				opacity: 0;
				visibility: hidden;
			}

			.slider-title {
				transform: translateY(70px);
				transition: all ease 1.2s;
				opacity: 0;
				visibility: hidden;
			}

			.slider-text {
				transform: translateY(70px);
				transition: all ease 1.2s;
				opacity: 0;
				visibility: hidden;
			}

			.slider-btn-area {
				transform: translateY(70px);
				transition: all ease 1.2s;
				opacity: 0;
				visibility: hidden;
			}

			&.swiper-slide-active {
				.sub-title {
					transform: translateY(0);
					transition-delay: 0.5s;
					opacity: 1;
					visibility: visible;
				}

				.slider-title {
					transform: translateY(0);
					transition-delay: 1s;
					opacity: 1;
					visibility: visible;
				}

				.slider-text {
					transform: translateY(0);
					transition-delay: 1.5s;
					opacity: 1;
					visibility: visible;
				}

				.slider-btn-area {
					transform: translateX(0);
					transition-delay: 2s;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	@media(max-width: 991px) {
		.slider-title br,
		.slider-text br {
			display: none;
		}
	}

	.swiper-pagination-wrap {
		position: relative;

		&:before {
			content: "";
			background-image: url(../images/pagination.svg);
			background-repeat: no-repeat;
			position: absolute;
			right: 0;
			bottom: -9px;
			height: 60px;
			width: 100%;
			background-position: bottom right;
			z-index: 1;
		}
	}

	.swiper-pagination {
		position: absolute;
		margin-top: 0;
		justify-content: right;
		column-gap: 7px;
		bottom: 10px !important;
		right: 19%;
		left: auto !important;
		font-size: 18px;
		font-weight: 600;
		@media(min-width: 2400px) {
			right: 16%;
		}

		.swiper-pagination-bullet {
			position: relative;
			width: auto;
			height: 100%;
			text-align: left;
			color: #B7B7B7;
			background: transparent !important;

			&.swiper-pagination-bullet-active {
				width: 60px;
				color: $title_color;

				&:after {
					position: absolute;
					content: "";
					right: -7px;
					top: 13px;
					width: 40px;
					height: 2px;
					border-radius: 50px;
					background-color: $title_color;
				}
			}

			&:last-child {
				&.swiper-pagination-bullet-active {
					text-align: right;

					&:after {
						display: none;
					}

					&:before {
						position: absolute;
						content: "";
						left: -10px;
						top: 13px;
						right: auto;
						width: 40px;
						height: 2px;
						border-radius: 50px;
						background-color: $title_color;
					}
				}
			}
		}
	}
}
