.single-post-pagination {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	align-items: flex-start;
	border-bottom: 1px solid $border_color;
	margin-bottom: 30px;
	margin-top: 30px;
	padding-bottom: 30px;

	p {
		margin: 0;
		font-size: 18px;
		font-weight: 500;
		text-transform: capitalize;
	}

	.post-navigation {
		display: flex;
		flex-wrap: wrap;
		flex: 1 0 50%;
		align-items: center;
		&:hover {
			.link {
				@extend .primaryColor;
			}
			span {
				background-color: $primary_color;
				svg {
					fill: $white_color;
				}
			}
		}
		&.next {
			justify-content: flex-end;
		}

		@media (max-width: 767px) {
			flex: 0 0 100%;
			&:not(:last-child) {
				margin-bottom: 15px;
				padding-bottom: 15px;
			}

		}
		span {
			height: 60px;
			width: 60px;
			background-color: $meta_light;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: 100%;
			transition: all .3s ease-in-out;
		}

		svg {
			width: 20px;
			height: 16px;
			fill: $primary_color;
			transition: all .3s ease-in-out;
		}
		.pagination-content {
			flex: 1;
		}
	}

	.link {
		display: flex;
		flex: 0 0 calc(100% - 50px);
		gap: 15px;
		font-size: 16px;
		line-height: 30px;
		color: $title_color;
		font-weight: 500;
		flex-direction: column;
		padding-left: 20px;
	}

	.nav-title {
		display: flex;
		align-items: center;
		gap: 10px;
		flex: 0 0 100%;
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 0;
		color: $primary_color;
		font-family: $heading_font;
		padding-left: 20px;
	}

	.next .nav-title,
	.next .link {
		justify-content: flex-end;
		padding-left: 0;
		padding-right: 20px;
	}
}
