/* Back to top
======================*/

.scrollToTop {
	width: 0;
	height: 0;
	border-radius: 80px;
	background-color: $white_color;
	color: $primary_color;
	border: 1.5px solid $primary_color;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 999;
	opacity: 0;
	visibility: hidden;

	svg {
		animation: slideInUp 1s ease infinite alternate;
	}

	&.show {
		opacity: 1;
		visibility: visible;
		right: 30px;
		bottom: 30px;
		width: 60px;
		height: 80px;
	}

	&:hover {
		background: $primary_color;
		color: $white_color;
	}
}


